<h2>
    <span class="text-capitalize text-primary">noticias</span>
    <span class="text-capitalize text-secondary">en</span>
    <span class="text-capitalize text-primary">original</span>
    <span class="text-secondary">.com</span>
</h2>
